<div class="panel">
    <div class="panel-title">Consultas</div>

    <div class="panel-content" *ngIf="hospedes.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Documento</th>
                    <th>Valor Hospedagem Atual(R$)</th>
                    <th>Valor Hospedagem Anterior(R$)</th>
                </tr>
            </thead>
            <tbody>                
                <tr *ngFor="let h of hospedes">
                    <td>{{h.nome}}</td>
                    <td>{{h.documento}}</td>
                    <td>R${{h.valorHospedagemAtual}}</td>
                    <td>R${{h.valorUltimaHospedagem}}</td>
                </tr>
            </tbody>
        </table>

        <div class="panel-footer">
            <div class="table-buttons">
                <button type="submit" class="btn"><i class="fas fa-arrow-left"></i>  Previous</button>
                <button type="submit" class="btn">Next  <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>

    <div *ngIf="hospedes.length === 0">Nenhum resultado encontrado</div>
</div>