<div class="panel">
    <div class="panel-title">Consultas</div>
    <div class="panel-content">


        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Documento</th>
                    <th>Valor gasto (R$)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Peter</td>
                    <td>123456</td>
                    <td>R$ 00.00,00</td>
                </tr>
                
                <!-- <tr *ngFor="let p of products">
                    <td>{{p.id}}</td>
                    <td>{{p.title}}</td>
                    <td>{{p.price}}</td>
                    <td>{{p.stock}}</td>
                </tr> -->
            </tbody>
        </table>

        <div class="panel-footer">
            <div class="table-buttons">
                <button type="submit" class="btn"><i class="fas fa-arrow-left"></i>  Previous</button>
                <button type="submit" class="btn">Next  <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>